---
import Layout from '../../layouts/Layout.astro'
import Demo from '../../components/Demo.astro'
import Callapsel from '../../components/Callapsel.astro'
---

<Layout title="Example code">
  <h1>Collapsel</h1>
  <p>JSを使用しないカルーセル</p>
  <Demo>
    <Callapsel />
  </Demo>
  ソースコードは<a
    class="link"
    href="https://github.com/usucode/example-code/blob/main/src/components/Callapsel.astro"
  >
    こちら
  </a>
</Layout>

<style>
  h1 {
    margin: 10px 0;
  }
</style>
