---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Example code">
  <h1>サンプルコード集を置くサイト</h1>
  <p>JSを使用しないコンポーネントをいくつか紹介する</p>
  <p>
    JSを使用していないコンポーネントに関しては、「daisyUI」を参考にパクらせていただきました。
  </p>
  <a class="link" href="https://daisyui.com/">https://daisyui.com/</a>
</Layout>

<style>
  h1 {
    margin: 10px 0;
  }
  .link {
    color: #397eff;
  }
</style>
