---
import Divider from './Divider.astro';

function isActive(path: string) {
  return Astro.url.pathname === path;
}
---

<nav class="drawer">
  <div class="drawer-header">
    <a class="drawer-header__logo" href="/">E</a>
    <p class="drawer-header__text">Example UI</p>
  </div>
  <Divider />
  <div class="drawer-body">
    <p class="drawer-body__text">NO JS</p>
    <a
      class={`drawer-body__link ${isActive('/components/menu') && '-active'}`}
      href="/components/menu"
    >
      Menu
    </a>
    <a
      class={`drawer-body__link ${isActive('/components/dialog') && '-active'}`}
      href="/components/dialog"
    >
      Dialog
    </a>
    <a
      class={`drawer-body__link ${
        isActive('/components/scroll-to-top') && '-active'
      }`}
      href="/components/scroll-to-top"
    >
      Scroll to top
    </a>
    <a
      class={`drawer-body__link ${isActive('/components/slide') && '-active'}`}
      href="/components/slide"
    >
      Slide
    </a>
    <a
      class={`drawer-body__link ${
        isActive('/components/accordion') && '-active'
      }`}
      href="/components/accordion"
    >
      Accordion
    </a>
  </div>
</nav>

<style>
  .drawer {
    width: var(--drawer-width);
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #eee;
  }
  .drawer-header {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .drawer-header__logo {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-flex;
    line-height: 1;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eee;
  }
  .drawer-header__text {
    margin: 0;
    color: #555;
  }
  .drawer-body {
    padding: 8px;
  }
  .drawer-body__text {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #555;
    padding-left: 16px;
    font-weight: bold;
    font-size: 12px;
  }
  .drawer-body__link {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 16px;
    display: inline-flex;
    width: 100%;
    border-radius: 8px;
  }
  .drawer-body__link.-active {
    color: rgb(0, 114, 229);
    background-color: rgb(240, 247, 255);
  }
  .drawer-body__link.-active:hover {
    color: rgb(4, 71, 138);
    background-color: rgb(226, 241, 255);
  }
  .drawer-body__link:hover {
    background-color: #eee;
  }
</style>
