<header>
  <p>title</p>
  <button class="header-btn">x</button>
</header>
<style>
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding: 16px;
  }
  p {
    margin: 0;
  }
  .header-btn {
    border: 1px solid #ddd;
    border-radius: 12px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
  }
</style>
