---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Drawer from '../components/Drawer.astro';
import Divider from '../components/Divider.astro';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex">
      <Drawer />
      <div class="flex-auto flex -column">
        <Header />
        <Divider />
        <main class="content">
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
  :root {
    --drawer-width: 300px;
  }
  * {
    box-sizing: border-box;
  }
  html {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-size-adjust: 100%;
  }
  body {
    margin: 0px;
    color: rgb(26, 32, 39);
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0px;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 400;
  }
  .flex {
    display: flex;
  }
  .flex.-column {
    flex-direction: column;
  }
  .flex-auto {
    flex: auto;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .content {
    flex: 1;
    padding: 16px;
  }
</style>
